body{
  
}
div.bopeyes{
  background-color: #F91D06;
  border: 10px double grey;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: white;
  position: absolute;
  width: 400px;
  top: 30px;
  right: 38%;
}
ul{
  list-style-type: none;
  width: 99.16%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: Grey;
  position: fixed;
  top: 0px;
  z-index: 10;
}
li{
  display: inline;
  float: left;
}
li a {
  display: block;
  text-decoration: none;
  padding: 5px 50px;
  color: white;
  font-weight: bold;
  font-size: large;
}
li:hover{
  background-color: red;
}
div.container{
  position: absolute;
  top: 120px;
  right: 18%
}
div.carousel-caption{
  color: grey;
  font-weight: bold;
  font-size: 30px;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: red;
  padding: 10px;
  position: relative;
  top: 915px
}

.grid-container > div {
  background-color: grey;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
