h1{
  color: purple;
  top: 40px;
  text-align: center;
}
body{
  background-color: lightblue;
}
p{
  border: dashed;
  border-color: blue;
  color: red;
  font-size: 60px;
  font-family: "Lucida Console";
  font-style: italic;
  
}
img:hover{
  border: red dashed 5px;
  border-radius: 50%;
}
ul{
  list-style-type: none;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0px;
  z-index: 10;
  
}
li a {
  display: block;
  text-decoration: none;
  padding: 15px 209px;
  color: purple;
  font-weight: bold;
  font-size: large;
  float: left;

}
li a:hover{
  background-color: yellow;
  color: black;
}


